{% extends 'base_template.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<section>
  
    <div class="left-side">
        <img src="{% static 'tải xuống.png' %}" alt="Description of Image">
        <div class="my-info">
            <h3>INFO</h3>
            <hr>
            <p> DoB : <span style="color:red;">06/05/2004</p>
            <p> Address: <span style="color:red;">26 Church St Cabramatta NSW 2166</p>
            <p> Phone : <span style="color:red;">0475451006</p>
            <p> Email : <span style="color:red;">quanhuynhvt2004@gmail.com</p>
            <p> GitHub :<span style="color:red;">quan123
            <h3>SOCIAL</h3>
            <hr>
            <p> Whatsapp : <span style="color:red;">0475451006</p>
            <p> Facebook: <span style="color:red;">Donng Quan Huynh</p>
            <p> Pinterest : <span style="color:red;">Quan</p>
            <h3>INTEREST</h3>
            <hr>
            <p> Coding</p>
            <p> Traveling</p>
            <p> Design </p>
        </div>
    </div>
   

    <div class="right-side">
        <div class="name">
            <h2> Dong Quan Huynh</h2>
            <p>  Software Developer Student </p>
        </div>
        <h3> About me </h3>
        <hr>
        <p>GET /static/styles.css HTTP/1.1 GET /static/styles.css HTTP/1.1,GET /static/styles.css HTTP/1.1,GET /static/styles.css HTTP/1.1</p>
        <h3>Education <h3>
            <hr>
        <ul>
            <li>Diploma of ICT - WSUIC - 2022-2023
            <li>Banchelor of ICT - WSU - Now</li>
        </ul>
        <h3>Skill and Expertize</h3>
        <hr>
        <ul>
            <li>HTLM,CSS,JavaScripts
            <li>Python
            <li>Java
            <li>Sketch up
            <li>Figma
            <li>Creatively
            <li>Work in group
        </ul>
        <h3>Experience</h3>
        <hr>
        ?
    </div>




</section>



{% endblock %}